<div class="users">
    <div class="main-border-bottom">
        <div class="user">
            <span>#</span>
            <div class="line"></div>
            <span>Random ID</span>
            <div class="line"></div>
            <span>Name</span>
            <div class="line"></div>
            <span>Address</span>
            <div class="line"></div>
            <span>Phone number</span>
        </div>
    </div>
    @for (int i = 0; i < ViewBag.Persons.Count; i++)
    {
        <div class="user">
            <span>@((i + 1).ToString("D4"))</span>
            <div class="line"></div>
            <span>@ViewBag.Persons[i].Id</span>
            <div class="line"></div>
            <span>@ViewBag.Persons[i].FullName</span>
            <div class="line"></div>
            <span>@ViewBag.Persons[i].Address</span>
            <div class="line"></div>
            <span>@ViewBag.Persons[i].PhoneNumber</span>
        </div>
    }
</div>