@for (int i = 0; i < ViewBag.Persons.Count; i++)
{
    <div class="user">
        <span>@ViewBag.Persons[i].Index.ToString("D5")</span>
        <div class="line"></div>
        <span>@ViewBag.Persons[i].Id</span>
        <div class="line"></div>
        <span>@ViewBag.Persons[i].FullName</span>
        <div class="line"></div>
        <span>@ViewBag.Persons[i].Address</span>
        <div class="line"></div>
        <span>@ViewBag.Persons[i].PhoneNumber</span>
    </div>
}